body{



/* START PAGE */

.start-container{

height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


.glow{

font-size:40px;

color:#21aa41;

text-shadow:
0 0 10px #3174a2,
0 0 20px #497b82,
0 0 40px #478c87;

}


.subtitle{

margin-top:10px;

color:#94a3b8;

letter-spacing:2px;

}


.begin-btn{

margin-top:30px;

padding:14px 30px;

font-size:18px;

background:#22c55e;

border:none;

border-radius:12px;

cursor:pointer;

transition:0.3s;

}


.begin-btn:hover{

transform:scale(1.08);

background:#16a34a;

}


font-family:Arial;

background:linear-gradient(135deg,#101841,#0f172a,#020617);

color:white;

text-align:center;

padding:40px;

}

h1{

margin-bottom:40px;

}


.container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}


.card{

backdrop-filter: blur(10px);

background:rgba(255,255,255,0.05);

border:1px solid rgba(255,255,255,0.1);

padding:30px;

border-radius:18px;

width:260px;

text-decoration:none;

color:white;

transition:0.3s;

box-shadow:0 8px 30px rgba(44, 34, 34, 0.5);

}

.card:hover{

transform:translateY(-8px) scale(1.05);

background:rgba(255,255,255,0.08);

}


input{

width:80%;

padding:10px;

margin-top:10px;

border-radius:8px;

border:none;

}


button{

margin-top:15px;

padding:10px 18px;

background:#22c55e;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}


button:hover{

background:#16a34a;

}


.box{

background:rgba(255,255,255,0.05);

padding:20px;

border-radius:15px;

display:inline-block;

margin-top:20px;

}


.check{

text-align:left;

margin-top:10px;

}


.valid{

color:#22c55e;

}


.invalid{

color:#ef4444;

}